extends layout

block container
    div.container
        div.panel
            div.panel-heading
                h1= error.status + ' ' + message
            div.panel-body
                pre #{error.stack}
                a.btn.btn-danger.pull-right(href='../') Return