extends layout

block container
    section.container
        div.col-md-5.col-md-offset-3
            div.panel.panel-info
                div.panel-heading
                    h1.col-md-offset-5=title
                div.panel-body
                    form(methode='POST', action='../login')
                        div.form-group
                            input.form-control(type='text', placeholder='Username', required=true)
                        div.form-group
                            input.form-control(type='password', placeholder='Password', required=true)
                        btn.form-control.btn.btn-primary(type='submit') Submit