extends layout

block container
    div.row
        div.col-md-3
            div.panel.panel-Default
                div.panel-heading
                    h3.panel-title Pseudos
                div.panel-body
                    ul.list-group
                        a.list-group-item JMB
                        a.list-group-item.active MH
        div.col-md-6
            div.panel.panel-Default
                div.panel-heading
                    h3.panel-title Morceaux
                div.panel-body
        div.col-md-3
            div.panel.panel-Default
                div.panel-heading
                    h3.panel-title Playlist
                div.panel-body
